$TTL 86400
@   IN  SOA     ns1.{{ dns_domain }}. root.{{ dns_domain }}. (
                {{ dns_serial }}  ; Serial
                3600              ; Refresh
                1800              ; Retry
                604800            ; Expire
                86400 )           ; Minimum TTL

; Name Servers
@   IN  NS      ns1.{{ dns_domain }}.

; PTR Records
{% for record in dns_records_a %}
{{ record.ip.split('.')[-1] }}  IN  PTR     {{ record.name }}.{{ dns_domain }}.
{% endfor %}
